.profile-exp {
    grid-area: exp;
}

.profile-exp h2 {
    margin-bottom: 1rem;
}

.profile-exp > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child{
    border: 0;
}

.profile-exp p {
    margin: 0.5rem 0;
}