table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

table th,
table td {
    padding: 1rem;
}

table td {
    background: var(--light-color);
}

table th {
    text-align: center;
    background: #e5e5e5;
    border-radius: 5px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -ms-border-radius: 5px 5px 0px 0px;
    -o-border-radius: 5px 5px 0px 0px;
    width: 100svw;
}
