.container {
    max-width: 900px;
    min-height: 85svh;
    margin: auto;
    overflow: hidden;
    padding: 3rem 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.container:has(.landing) {
    max-width: unset;
    margin: auto;
    overflow: hidden;
    height: 100svh;
    padding: 0 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.round-img {
    border-radius: 50%;
}
